@page
@model ClinicSystem2.Pages.Appointments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Patient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Doctor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Goals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Goals)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Appointment.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
