@page
@model ClinicSystem2.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Patient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Doctor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Goals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Goals)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
